<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <h1 class="title is-size-4">Notifications</h1>

            {{ if not .rows }}
                {{ template "notification/p/no-notifications" }}
            {{ else }}
                {{ template "p/pager/nav" .pagingState }}

                <table class="table is-fullwidth">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Body</th>
                            <th>When</th>
                            <th class="is-hidden-mobile">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .rows }}
                            <tr>
                                <td>{{ .Subject }}</td>
                                <td>{{ if .Body }}<div class="pre mono">{{ .Body }}</div>{{ end }}</td>
                                <td class="nowrap">{{ template "p/time/rel" .CreatedAt }}</td>
                                <td class="is-hidden-mobile nowrap">{{ formatDateTimeReadable .CreatedAt }}</td>
                            </tr>
                        {{ end }}
                    </tbody>
                </table>

                {{ if gt (len .rows) 20 }}
                    {{ template "p/pager/nav" .pagingState }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</div>
