{{/*
    Render the livereload snippet.

    Context:
        .    (not used)
*/}}

<style type="text/css">
    .a5eab416-b1c5-4f51-9feb-dccf69eccd64 {
        display: none;
        height: 100vh;
        width: 100vw;
        place-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 999; /* the classic */
    }

    .a5eab416-b1c5-4f51-9feb-dccf69eccd64 svg {
        width: 100px;
        height: 100px;
    }

    .a5eab416-b1c5-4f51-9feb-dccf69eccd64 svg path {
        fill: #999;
    }
</style>

<div class="a5eab416-b1c5-4f51-9feb-dccf69eccd64">
    <svg class="fa-spin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path d="M304 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zm0 416a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM48 304a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm464-48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM142.9 437A48 48 0 1 0 75 369.1 48 48 0 1 0 142.9 437zm0-294.2A48 48 0 1 0 75 75a48 48 0 1 0 67.9 67.9zM369.1 437A48 48 0 1 0 437 369.1 48 48 0 1 0 369.1 437z"/>
    </svg>
</div>

<script type="text/javascript">
    let navigating = false

    window.onbeforeunload = function() {
        navigating = true
        return null
    };

    (async function() {
        async function sleep(n) {
            return new Promise(resolve => setTimeout(resolve, n))
        }

        async function waitUntilHealthy() {
            // Limit how long we'll wait for the server to come back.
            const maxSeconds = 60

            const delayMilliseconds = 250
            const iterations = maxSeconds * (1000 / delayMilliseconds)

            for (var i = 0; i < iterations; i++) {
                try {
                    await fetch('/health')
                    break
                } catch (e) {
                    await sleep(delayMilliseconds)
                }
            }
        }

        try {
            await fetch('/hang')
        } catch (e) {
            if (navigating) {
                return
            }
            document.querySelector('.a5eab416-b1c5-4f51-9feb-dccf69eccd64').style.display = 'grid'
            document.title = '(...) ' + document.title
            await waitUntilHealthy()
            document.location.reload()
        }
    })()
</script>
