{{/*
    Render a flash message.

    Context:
        .    (not used)
*/}}

<nav class="navbar is-light has-shadow" role="navigation" aria-label="main navigation">
    <div class="container is-max-widescreen" x-data="nav">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" title="Home">
                <span class="icon is-medium">
                    <i class="fa-duotone fa-lighthouse fa-lg"></i>
                </span>
            </a>

            <a href="/" class="navbar-item">
                <span>devices</span>
            </a>

            <a href="/activity" class="navbar-item">
                <span>activity</span>
            </a>

             <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" @click="toggleNav" :class="navClass()">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div class="navbar-menu" :class="navClass()">
            <div class="navbar-start">
            </div>

            <div class="navbar-end">
                <a href="/notifications" class="navbar-item" title="Notifications">
                    <span class="icon"><i class="fas fa-bell"></i></span>
                    <span class="is-hidden-desktop">notifications</span>
                </a>

                {{ if $.globals.UserIsAdmin }}
                    <a href="/admin" class="navbar-item" title="Administration">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="is-hidden-desktop">admin</span>
                    </a>
                {{ end }}

                {{ if not disableAuth }}
                    <a class="navbar-item" x-data="form" @click="submitForm" title="Log out">
                        <form class="is-hidden"
                              method="post"
                              action="/bye">
                        </form>
                        <span class="icon"><i class="fa-duotone fa-right-from-bracket"></i></span>
                        <span class="is-hidden-desktop">log out</span>
                    </a>
                {{ end }}
            </div>
        </div>
    </div>
</nav>
