{{/*
    Render a flash message.

    Context:
        .    (not used)
*/}}

<nav class="navbar is-light has-shadow" role="navigation" aria-label="main navigation">
    <div class="container is-max-widescreen">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" title="Home">
                <span class="icon is-medium">
                    <i class="fa-duotone fa-lighthouse fa-lg"></i>
                </span>
            </a>

            <a href="/" class="navbar-item">
                <span>devices</span>
            </a>
            <!--
            <a href="/people" class="navbar-item">
                <span>people</span>
            </a>
            -->
             <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="js-navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="js-navbar" class="navbar-menu">
            <div class="navbar-start">
            </div>

            <div class="navbar-end">
                <!--
                <a href="/settings" class="navbar-item" title="Settings">
                    <span class="icon is-hidden-touch"><i class="fas fa-cog"></i></span>
                    <span class="is-hidden-desktop">settings</span>
                </a>
                -->
            </div>
        </div>
    </div>
</nav>
