<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title is-size-4">{{ template "p/name/adapter" .adapter.Name }}</h1>
                    </div>
                    <div class="level-item is-hidden-mobile">—</div>
                    <div class="level-item">
                        <h2 class="subtitle is-size-5 has-text-grey">
                            {{ .adapter.IPAddress }}
                        </h2>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <nav class="breadcrumb has-arrow-separator is-small">
                            <ul>
                                <li><a href="/">devices</a></li>
                                <li><a href="/device/{{ .device.ID }}">{{ template "p/name/device" .device.Name }}</a></li>
                                <li class="is-active"><a href="/adapter/{{ .adapter.ID }}/edit">{{ template "p/name/adapter" .adapter.Name }}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

            <form method="post">
                <div class="field is-horizontal" x-data="id">
                    <div class="field-label is-normal">
                        <label class="label" :for="id">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input"
                                       :id="id"
                                       type="text"
                                       name="{{ .fields.Name.Name }}"
                                       value="{{ if .err }}{{ .fields.Name.Value }}{{ else }}{{ .adapter.Name }}{{ end }}">
                            </div>
                            {{ if .fields.Name.Error }}<p class="help is-danger">{{ .fields.Name.Error }}</p>{{ end }}
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal" x-data="id">
                    <div class="field-label is-normal">
                        <label class="label" :for="id">Vendor</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input class="input"
                                       :id="id"
                                       type="text"
                                       name="{{ .fields.Vendor.Name }}"
                                       value="{{ if .err }}{{ .fields.Vendor.Value }}{{ else }}{{ .adapter.Vendor }}{{ end }}">
                            </div>
                            {{ if .fields.Vendor.Error }}<p class="help is-danger">{{ .fields.Vendor.Error }}</p>{{ end }}
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal is-grouped">
                    <div class="field-label is-normal"></div>
                    <div class="field-body">
                        <div class="control">
                            <button type="submit" class="button is-link">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
