<div class="level">
    <div class="level-left">
        <div class="level-item">
            <h1 class="title is-size-4">Create User</h1>
        </div>
    </div>
    <div class="level-right">
    </div>
</div>

<form method="post">
    <div class="field is-horizontal" x-data="id">
        <div class="field-label is-normal">
            <label class="label" :for="id">Username</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input"
                           :id="id"
                           type="text"
                           name="{{ .fields.Username.Name }}"
                           value="{{ if .err }}{{ .fields.Username.Value }}{{ end }}">
                </div>
                {{ if .fields.Username.Error }}<p class="help is-danger">{{ .fields.Username.Error }}</p>{{ end }}
            </div>
        </div>
    </div>

    <div class="field is-horizontal" x-data="id">
        <div class="field-label is-normal">
            <label class="label" :for="id">Password</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input"
                           :id="id"
                           autocomplete="new-password"
                           type="password"
                           name="{{ .fields.Password.Name }}"
                           value="{{ if .err }}{{ .fields.Password.Value }}{{ end }}">
                </div>
                {{ if .fields.Password.Error }}<p class="help is-danger">{{ .fields.Password.Error }}</p>{{ end }}
                <p class="help">{{ template "p/help/password" }}</p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal" x-data="id">
        <div class="field-label is-normal">
            <label class="label" :for="id">Confirm Password</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <input class="input"
                           :id="id"
                           autocomplete="new-password"
                           type="password"
                           name="{{ .fields.ConfirmPassword.Name }}"
                           value="{{ if .err }}{{ .fields.ConfirmPassword.Value }}{{ end }}">
                </div>
                {{ if .fields.ConfirmPassword.Error }}<p class="help is-danger">{{ .fields.ConfirmPassword.Error }}</p>{{ end }}
            </div>
        </div>
    </div>

    <div class="field is-horizontal" x-data="id">
        <div class="field-label">
            <label class="label" :for="id">Role</label>
        </div>
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div class="select">
                        <select name="{{ .fields.Role.Name }}" required :id="id">
                            <option value="1" {{ if .err }}{{ if eq .fields.Role.Value "1" }}selected{{ end }}{{ end }}>{{ template "p/name/role" 1 }}</option>
                            <option value="2" {{ if .err }}{{ if eq .fields.Role.Value "2" }}selected{{ end }}{{ end }}>{{ template "p/name/role" 2 }}</option>
                            <option value="3" {{ if .err }}{{ if eq .fields.Role.Value "3" }}selected{{ end }}{{ end }}>{{ template "p/name/role" 3 }}</option>
                        </select>
                    </div>

                    {{ if .fields.Role.Error }}<p class="help is-danger">{{ .fields.Role.Error }}</p>{{ end }}
                    <p class="help">{{ template "p/help/role" }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="field is-horizontal is-grouped">
        <div class="field-label"></div>
        <div class="field-body">
            <div class="control">
                <button type="submit" class="button is-link">Create</button>
            </div>
        </div>
    </div>
</form>
