<table class="table is-fullwidth">
    <tr>
        <th>Username</th>
        <th>Role</th>
        <th>Last Login</th>
        <th class="is-hidden-mobile">Last Visit</th>
        <th class="is-hidden-mobile">Created</th>
        <th>
            <a title="Create" class="is-pulled-right" href="/admin/users/create">
                <span class="icon is-small">
                    <i class="fas fa-user-plus"></i>
                </span>
            </a>
        </th>
    </tr>

    {{ define "date" }}
        {{ if .Valid }}
            {{ template "p/time/rel" . }}
        {{ else }}
            Never
        {{ end }}
    {{ end }}

    {{ range .users }}
        <tr>
            <td>{{ .Username }}</td>
            <td>{{ template "p/name/role" .Role }}</td>
            <td>{{ template "date" .LastLoginAt }}</td>
            <td class="is-hidden-mobile">{{ template "date" .LastVisitAt }}</td>
            <td class="is-hidden-mobile">{{ formatDateTimeReadable .CreatedAt }}</td>
            <td class="min-column">
                <div class="columns is-variable is-1 is-mobile">
                    <a title="Edit" href="/admin/users/{{ .ID }}/edit" class="column has-text-dark">
                        <span class="icon">
                            <i class="fa-duotone fa-edit"></i>
                        </span>
                    </a>
                    {{ if and (gt (len $.users) 1) (ne .ID $.globals.User.ID) }}
                        <form class="column" action="/admin/users/{{ .ID }}/become" method="post">
                            <a title="Become" onclick="parentNode.submit()" class="has-text-dark">
                                <span class="icon has-text-grey-dark">
                                    <i class="fa-duotone fa-user-tie"></i>
                                </span>
                            </a>
                        </form>
                        <form class="column" action="/admin/users/{{ .ID }}/delete" method="post">
                            <a title="Delete" onclick="confirm('Are you sure you want to delete this user?') && parentNode.submit()" class="has-text-dark">
                                <span class="icon has-text-danger-dark">
                                    <i class="fa-duotone fa-trash"></i>
                                </span>
                            </a>
                        </form>
                    {{ end }}
                </div>
            </td>
        </tr>
    {{ else }}
        <tr>
            <td colspan="6"><i>No users found</i></td>
        </tr>
    {{ end }}
</table>
