# -*- conf -*-
MODE=production
# MODE=development

HOST=127.0.0.1
# HOST=0.0.0.0
PORT=1337

# options: all | disk | stderr | none
LOG_TYPE=all
LOG_PATH=logs/lighthouse.log

DB_NAME=
DB_USER=anon
DB_PASS=
# DB_SOCK=/run/mysqld/mysqld.sock
DB_HOST=127.0.0.1:3306
DB_CHARSET=utf8mb4
DB_TZ=UTC

# Reload the browser when the development webserver is restarted.
# Relevant during development only.
# LIVE_RELOAD=true

DEFAULT_ROOT_PASSWORD=root
DEFAULT_ANON_PASSWORD=anon
