{{/*
    Render a column header, along with sorters and the current filter (if any).

    Context:
        .    tpl.ColumnState
*/}}

<a class="has-text-black" href="?sc={{ .SortColumn }}&sd={{ .SortDirection }}{{ if .CurrentFilter }}&f={{ .CurrentFilter }}{{ end }}">
    {{ .Label }}
    {{ if and (eq .CurrentSortColumn .SortColumn) (not .Minimal) }}
        <span class="icon">
            {{ if eq .CurrentSortDirection "asc" }}
                <i class="fa-solid fa-arrow-down fa-sm"></i>
            {{ else }}
                <i class="fa-solid fa-arrow-up fa-sm"></i>
            {{ end }}
        </span>
    {{ end }}
</a>
