<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <h1 class="title is-size-4">Administration</h1>

            <div class="tabs">
              <ul>
                <li{{ if eq .tab "users" }} class="is-active"{{ end }}>
                    <a href="/admin/users">
                        <span class="icon is-small">
                            <i class="fa-duotone fa-user" aria-hidden="true"></i>
                        </span>
                        <span>Users</span>
                    </a>
                </li>

                <li{{ if eq .tab "audit" }} class="is-active"{{ end }}>
                    <a href="/admin/audit">
                        <span class="icon is-small">
                            <i class="fa-duotone fa-clipboard-list" aria-hidden="true"></i>
                        </span>
                        <span>Audit</span>
                    </a>
                </li>

                <li{{ if eq .tab "mappings" }} class="is-active"{{ end }}>
                    <a href="/admin/mappings">
                        <span class="icon is-small">
                            <i class="fa-duotone fa-link" aria-hidden="true"></i>
                        </span>
                        <span>Mappings</span>
                    </a>
                </li>

                <li{{ if eq .tab "settings" }} class="is-active"{{ end }}>
                    <a href="/admin/settings">
                        <span class="icon is-small">
                            <i class="fa-duotone fa-cog" aria-hidden="true"></i>
                        </span>
                        <span>Settings</span>
                    </a>
                </li>
              </ul>
            </div>

            <div>
                {{ if eq .tab "users" }}{{ template "admin/p/users" . }}{{ end }}
                {{ if eq .tab "audit" }}{{ template "admin/p/audit" . }}{{ end }}
                {{ if eq .tab "mappings" }}{{ template "admin/p/mappings" . }}{{ end }}
                {{ if eq .tab "settings" }}{{ template "admin/p/settings" . }}{{ end }}
            </div>
        </div>
    </div>
</div>
