<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <nav class="breadcrumb has-arrow-separator is-small">
                <ul>
                    <li><a href="/">devices</a></li>
                    <li><a href="/device/{{ .device.ID }}">{{ template "p/name/device" .device.Name }}</a></li>
                    <li class="is-active"><a href="/adapter/{{ .adapter.ID }}/edit">{{ template "p/name/adapter" .adapter.Name }}</a></li>
                </ul>
            </nav>

            <h1 class="title">{{ template "p/name/adapter" .adapter.Name }}</h1>
            <h2 class="subtitle has-text-grey">{{ .adapter.IPAddress }}</h2>

            <form method="post">
                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Name</label></div>
                    <div class="field-body">
                        <div class="field">
                             <div class="control">
                                <input class="input"
                                       type="text"
                                       name="name"
                                       value="{{ if .err }}{{ .fields.Name.Value }}{{ else }}{{ .adapter.Name }}{{ end }}">
                            </div>
                            {{ if .fields.Name.Error }}<p class="help is-danger">{{ .fields.Name.Error }}</p>{{ end }}
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal"><label class="label">Vendor</label></div>
                    <div class="field-body">
                        <div class="field">
                             <div class="control">
                                <input class="input"
                                       type="text"
                                       name="vendor"
                                       value="{{ if .err }}{{ .fields.Vendor.Value }}{{ else }}{{ .adapter.Vendor }}{{ end }}">
                            </div>
                            {{ if .fields.Vendor.Error }}<p class="help is-danger">{{ .fields.Vendor.Error }}</p>{{ end }}
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal is-grouped">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="control">
                            <button type="submit" class="button is-link">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
