<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            {{ template "devices/p/header" . }}

            <form method="post">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                             <div class="control">
                                <input class="input"
                                       type="text"
                                       name="{{ .fields.Name.Name }}"
                                       value="{{ if .err }}{{ .fields.Name.Value }}{{ else }}{{ .device.Name }}{{ end }}">
                            </div>
                            {{ if .fields.Name.Error }}<p class="help is-danger">{{ .fields.Name.Error }}</p>{{ end }}
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Icon</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control has-icons-left" x-data="{ icon: '{{ if .err }}{{ .fields.Icon.Value }}{{ else }}{{ .device.Icon }}{{ end }}' }">
                                <input class="input"
                                       type="text"
                                       name="{{ .fields.Icon.Name }}"
                                       x-model="icon">
                                <span class="icon is-small is-left">
                                    <i :class="icon"></i>
                                </span>
                            </div>
                            {{ if .fields.Icon.Error }}<p class="help is-danger">{{ .fields.Icon.Error }}</p>{{ end }}
                            <p class="help">The classes for any <a href="https://fontawesome.com/search">font awesome</a> icon.</p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Notes</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                             <div class="control">
                                <textarea class="textarea" name="{{ .fields.Notes.Name }}">{{ if .err }}{{ .fields.Notes.Value }}{{ else }}{{ .device.Notes }}{{ end }}</textarea>
                            </div>
                            {{ if .fields.Notes.Error }}<p class="help is-danger">{{ .fields.Notes.Error }}</p>{{ end }}
                            <p class="help">Markdown supported.</p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label class="label">Grace Period</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                             <div class="control">
                                <input class="input"
                                       type="text"
                                       name="{{ .fields.GracePeriod.Name }}"
                                       value="{{ if .err }}{{ .fields.GracePeriod.Value }}{{ else }}{{ .device.GracePeriod }}{{ end }}">
                            </div>
                            {{ if .fields.GracePeriod.Error }}<p class="help is-danger">{{ .fields.GracePeriod.Error }}</p>{{ end }}
                            <p class="help">The number of minutes to wait before considering this device to be offline. Increase this if a device is incorrectly reported as offline.</p>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label class="label">Watch</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                             <div class="control">
                                <label class="checkbox">
                                    <input type="checkbox"
                                           name="{{ .fields.Watch.Name }}"
                                           {{ if .err }}{{ if eq .fields.Watch.Value "1" }}checked{{ end }}
                                           {{ else if .device.Watch }}checked{{ end }}>
                                </label>
                                <p class="help">Receive a notification if this device goes offline or comes online.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal is-grouped">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="control">
                            <button type="submit" class="button is-link">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
