<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            {{ template "devices/partials/header" .device }}

            <table class="table">
                <tr>
                    <th>State</th>
                    <td>{{ .device.State }}</td>
                </tr>

                <tr>
                    <th>Hostname</th>
                    <td>
                        {{ if ne .device.Hostname "" }}
                            {{ .device.Hostname }}
                        {{ else }}
                            <i>None</i>
                        {{ end }}
                    </td>
                </tr>

                <tr>
                    <th>Discovered</th>
                    <td title="{{ formatDateTime .device.CreatedAt }}">
                        {{ timeAgoVerbose .device.CreatedAt }}
                    </td>
                </tr>

                <tr>
                    <th>Last Seen</th>
                    <td title="{{ formatDateTime .device.LastSeen }}">
                        {{ timeAgoVerbose .device.LastSeen }}
                    </td>
                </tr>

                <tr>
                    <th>Grace Period</th>
                    <td>{{ .device.GracePeriod }} mins</td>
                </tr>

                <tr>
                    <th>Watching</th>
                    <td>
                        {{ if .device.Watch }}
                            <span class="icon is-small state--checked"><i class="fa-solid fa-check"></i></span>
                        {{ else }}
                            <span class="icon is-small"><i class="fa-solid fa-times"></i></span>
                        {{ end }}
                    </td>
                </tr>

                {{ if .device.Notes }}
                    <tr>
                        <th>Notes</th>
                        <td>{{ nl2br .device.Notes }}</td>
                    </tr>
                {{ end }}
            </table>

            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div class="field is-grouped">
                            <div class="control">
                                <a href="/device/{{ .device.ID }}/edit" class="button">
                                    <span class="icon is-small">
                                        <i class="fa-duotone fa-edit"></i>
                                    </span>
                                    <span>Edit</span>
                                </a>
                            </div>

                            <div class="control">
                                <form method="post" onsubmit="return confirm('Are you sure?')" action="/device/{{ .device.ID }}/delete">
                                    <button class="button is-ghost has-text-danger" type="submit">
                                        <span class="icon is-small">
                                            <i class="fa-duotone fa-trash"></i>
                                        </span>
                                        <span>Delete</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="level-right">
                    <div class="level-item">
                        <form method="post" action="/device/{{ .device.ID }}/merge">
                            <div class="field is-grouped">
                                <div class="control has-icons-left">
                                    <div class="select">
                                        <select name="device_id" required>
                                            <option value="">Merge with...</option>
                                            {{ range .devices }}
                                                {{ if ne .ID $.device.ID }}
                                                    <option value="{{ .ID }}">{{ .Name }}</option>
                                                {{ end }}
                                            {{ end }}
                                        </select>
                                    </div>
                                    <div class="icon is-left">
                                        <i class="fa-duotone fa-merge"></i>
                                    </div>
                                </div>
                                <div class="control">
                                    <button class="button" type="submit">Merge</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            {{ template "devices/partials/adapters" .adapters }}
        </div>
    </div>
</div>
