<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            {{ template "devices/p/header" . }}

            <div class="columns">
                <div class="column">
                    <h2 class="subtitle">Details</h2>

                    {{ template "devices/p/details" .device }}
                </div>

                <div class="column">
                    <h2 class="subtitle">
                        Activity
                        {{ if .activity }} — <a href="/activity/?device_id={{ .device.ID }}">view all</a>{{ end }}
                    </h2>

                    {{ template "devices/p/activity" . }}
                </div>
            </div>

            {{ template "devices/p/adapters" . }}
            {{ template "devices/p/services" . }}
        </div>
    </div>
</div>
