<section class="section">
    <div class="container">
        <h1 class="title">
            {{ or .device.Name "Unidentified device" }}
            {{ if eq .device.State "online" }}
                <i class="fas fa-computer icon--online"></i>
            {{ else }}
                <i class="fas fa-computer icon--offline"></i>
            {{ end }}
        </h1>

        <table class="table">
            <tr>
                <th>State</th>
                <td>{{ .device.State }}</td>
            </tr>

            <tr>
                <th>Hostname</th>
                <td>
                    {{ if ne .device.Hostname "" }}
                        {{ .device.Hostname }}
                    {{ else }}
                        <i>None</i>
                    {{ end }}
                </td>
            </tr>

            <tr>
                <th>Discovered</th>
                <td title="{{ escape (formatDateTime .device.CreatedAt) }}">
                    {{ timeAgoVerbose .device.CreatedAt }}
                </td>
            </tr>

            <tr>
                <th>Last Seen</th>
                <td title="{{ escape (formatDateTime .device.LastSeen) }}">
                    {{ timeAgoVerbose .device.LastSeen }}
                </td>
            </tr>

            <tr>
                <th>Grace Period</th>
                <td>{{ .device.GracePeriod }}</td>
            </tr>
        </table>

        <h2 class="subtitle">Adapters</h2>

        <table class="table">
            <tr>
                <th>Label</th>
                <th>MAC Address</th>
                <th>IP Address</th>
                <th>Vendor</th>
                <th>Last Seen</th>
            </tr>
            {{ range .adapters }}
                <tr>
                    <td>
                        {{ if ne .Name "" }}
                            {{ .Name }}
                        {{ else }}
                            <i>Untitled</i>
                        {{ end }}</td>
                    <td>
                        <span class="is-family-monospace">{{ .MACAddress }}</span>
                    </td>
                    <td>{{ .IPAddress }}</td>
                    <td>{{ .Vendor }}</td>
                    <td title="{{ escape (formatDateTime .LastSeen) }}">
                        {{ timeAgoVerbose .LastSeen }}
                    </td>
                </tr>
            {{ end }}
        </table>
    </div>
</section>
