<section class="section">
    <div class="container">
        <h1 class="title">
            {{ .device.Name }}
            {{ if eq .device.State "online" }}
                <i class="fas fa-computer icon--online"></i>
            {{ else }}
                <i class="fas fa-computer icon--offline"></i>
            {{ end }}
        </h1>

        <table class="table">
            <tr>
                <th>State</th>
                <td>{{ .device.State }}</td>
            </tr>

            <tr>
                <th>Hostname</th>
                <td>{{ or .device.Hostname "(Unknown)" }}</td>
            </tr>

            <tr>
                <th>Vendor</th>
                <td>{{ .device.Vendor }}</td>
            </tr>

            <tr>
                <th>Discovered</th>
                <td>{{ timeAgo .device.CreatedAt }} ({{ formatDateTime .device.CreatedAt }})</td>
            </tr>

            <tr>
                <th>Last Seen</th>
                <td>{{ timeAgo .device.LastSeen }} ({{ formatDateTime .device.LastSeen }})</td>
            </tr>

            <tr>
                <th>MAC Address</th>
                <td><span class="is-family-monospace">{{ .device.MACAddress }}</span></td>
            </tr>

        </table>

        <h2 class="subtitle">Devices</h2>

        <table class="table">
            <tr>
                <th>IP Address</th>
                <th>Last Seen</th>
            </tr>
            {{ range .deviceMappings }}
                <tr>
                    <td>{{ .IPAddress }}</td>
                    <td>{{ timeAgo .LastSeen }} ({{ formatDateTime .LastSeen }})</td>
                </tr>
            {{ end }}
        </table>
    </div>
</section>
