<div class="field is-horizontal" x-data="{ id: id() }">
    <div class="field-label">
        <label class="label" :for="id">Notify for new devices</label>
    </div>
    <div class="field-body">
        <div class="field">
             <div class="control">
                <label class="checkbox">
                    <input type="checkbox"
                           :id="id"
                           name="{{ .fields.Watch.Name }}"
                           {{ if .err }}{{ if eq .fields.Watch.Value "1" }}checked{{ end }}
                           {{ else if .settings.Watch }}checked{{ end }}>
                </label>
                <p class="help">Receive a notification if any new devices join the network.</p>
            </div>
        </div>
    </div>
</div>
