<div class="field is-horizontal" x-data="id">
    <div class="field-label">
        <label class="label">Passive</label>
    </div>
    <div class="field-body">
        <div class="field">
             <div class="control">
                <input type="checkbox"
                       class="toggle"
                       :id="id"
                       name="{{ .fields.Passive.Name }}"
                       {{ if .err }}{{ if eq .fields.Passive.Value "1" }}checked{{ end }}
                       {{ else if .settings.Passive }}checked{{ end }}>
                <label :for="id"></label>
            </div>
            <p class="help">Listen for ARP packets but don't actively send out any ARP requests. Some devices send out ARP announcements which will still be processed.</p>
        </div>
    </div>
</div>

<div class="field is-horizontal" x-data="id">
    <div class="field-label is-normal">
        <label class="label" :for="id">Interval</label>
    </div>
    <div class="field-body">
        <div class="field">
             <div class="control">
                <input class="input"
                       type="text"
                       :id="id"
                       name="{{ .fields.ScanInterval.Name }}"
                       value="{{ if .err }}{{ .fields.ScanInterval.Value }}{{ else }}{{ .settings.ScanInterval }}{{ end }}">
            </div>
            {{ if .fields.ScanInterval.Error }}<p class="help is-danger">{{ .fields.ScanInterval.Error }}</p>{{ end }}
            <p class="help">
                How long to wait between network scans.
                {{ template "p/help/duration" }}
            </p>
        </div>
    </div>
</div>

<div class="field is-horizontal" x-data="id">
    <div class="field-label">
        <label class="label">Notify on new device</label>
    </div>
    <div class="field-body">
        <div class="field">
             <div class="control">
                <input type="checkbox"
                       class="toggle"
                       :id="id"
                       name="{{ .fields.Watch.Name }}"
                       {{ if .err }}{{ if eq .fields.Watch.Value "1" }}checked{{ end }}
                       {{ else if .settings.Watch }}checked{{ end }}>
                <label :for="id"></label>
                <p class="help">Receive a notification if any new devices join the network.</p>
            </div>
        </div>
    </div>
</div>
