<div class="field is-horizontal" x-data="{ id: id() }">
    <div class="field-label is-normal">
        <label class="label" :for="id">Timezone</label>
    </div>
    <div class="field-body">
        <div class="field">
             <div class="control">
                <input class="input"
                       type="text"
                       :id="id"
                       name="{{ .fields.Timezone.Name }}"
                       value="{{ if .err }}{{ .fields.Timezone.Value }}{{ else }}{{ .settings.Timezone }}{{ end }}">
            </div>
            {{ if .fields.Timezone.Error }}<p class="help is-danger">{{ .fields.Timezone.Error }}</p>{{ end }}
        </div>
    </div>
</div>

<div class="field is-horizontal" x-data="{ id: id() }">
    <div class="field-label is-normal">
        <label class="label" :for="id">MACVendors API key</label>
    </div>
    <div class="field-body">
        <div class="field">
             <div class="control">
                <input class="input"
                       :id="id"
                       type="text"
                       name="{{ .fields.MACVendorsAPIKey.Name }}"
                       value="{{ if .err }}{{ .fields.MACVendorsAPIKey.Value }}{{ else }}{{ .settings.MACVendorsAPIKey }}{{ end }}">
            </div>
            {{ if .fields.MACVendorsAPIKey.Error }}<p class="help is-danger">{{ .fields.MACVendorsAPIKey.Error }}</p>{{ end }}
            <p class="help">API key for <a href="https://macvendors.com">macvendors.com</a>.</p>
        </div>
    </div>
</div>
