{{/*
    Render paging navigation.

    Context:
        .    pager.State
*/}}

<div class="columns is-mobile">
    <div class="column">
         <div class="buttons has-addons is-left">
            <a class="button" {{ if .FirstPageURL }} href="{{ .FirstPageURL }}"{{ else }}disabled{{ end }}>
                First
            </a>
            <a class="button" {{ if .PreviousPageURL }}href="{{ .PreviousPageURL }}"{{ else }}disabled{{ end }}>
                Previous
            </a>
        </div>
    </div>

    <div class="column has-text-centered">
        Page {{ .CurrentPage }} of {{ .TotalPages }}
    </div>

    <div class="column">
        <div class="buttons has-addons is-right">
            <a class="button" {{ if .NextPageURL }}href="{{ .NextPageURL }}"{{ else }}disabled{{ end }}>
                Next
            </a>
            <a class="button" {{ if .LastPageURL }}href="{{ .LastPageURL }}"{{ else }}disabled{{ end }}>
                Last
            </a>
        </div>
    </div>
</div>
