<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <div class="tabs">
              <ul>
                <li{{ if eq .tab "settings" }} class="is-active"{{ end }}>
                  <a href="/admin/settings">
                    <span class="icon is-small">
                        <i class="fa-duotone fa-cog" aria-hidden="true"></i>
                    </span>
                    <span>Settings</span>
                  </a>
                </li>
              </ul>
            </div>

            <div>
                {{ if eq .tab "settings" }}
                    {{ template "admin/p/settings" . }}
                {{ end }}
            </div>
        </div>
    </div>
</div>
