<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <h1 class="title is-size-4">Settings</h1>

            <form method="post">
                <div class="block">
                    <h2 class="subtitle">General</h2>
                    {{ template "admin/p/general" . }}
                </div>

                <div class="block">
                    <h2 class="subtitle">System</h2>
                    {{ template "admin/p/system" . }}
                </div>

                <div class="field is-horizontal is-grouped">
                    <div class="field-label"></div>
                    <div class="field-body">
                        <div class="control">
                            <button type="submit" class="button is-link">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
