<div class="section">
    <div class="container is-max-widescreen">
        <div class="box">
            <div class="tabs">
              <ul>
                <li class="is-active js-tab-trigger" data-target="#tab-settings">
                  <a>
                    <span class="icon is-small"><i class="fa-duotone fa-cog" aria-hidden="true"></i></span>
                    <span>Settings</span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="js-tab" id="tab-settings">
                <form method="post" action="/admin/settings">
                    <div class="block">
                        <h2 class="subtitle">General</h2>
                        {{ template "admin/p/general" . }}
                    </div>

                    <div class="block">
                        <h2 class="subtitle">Notifications</h2>
                        {{ template "admin/p/notifications" . }}
                    </div>

                    <div class="block">
                        <h2 class="subtitle">SMTP</h2>
                        {{ template "admin/p/smtp" . }}
                    </div>

                    <div class="block">
                        <h2 class="subtitle">System</h2>
                        {{ template "admin/p/system" . }}
                    </div>

                    <div class="field is-horizontal is-grouped">
                        <div class="field-label"></div>
                        <div class="field-body">
                            <div class="control">
                                <button type="submit" class="button is-link">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
