{{ if .log }}
    <table class="table is-fullwidth">
        <tr>
            <th>User</th>
            <th class="is-hidden-mobile">IP Address</th>
            <th>Action</th>
            <th>When</th>
            <th class="is-hidden-mobile">Date</th>
        </tr>

        {{ range .log }}
            <tr>
                <td>
                    {{ if ne .UserID 0 }}
                        {{ (index $.users .UserID).Username }}
                    {{ else }}
                        <em>None</em>
                    {{ end }}
                </td>
                <td class="is-hidden-mobile">{{ .IPAddress }}</td>
                <td>{{ .Message }}</td>
                <td>{{ template "p/time/rel" .CreatedAt }}</td>
                <td class="is-hidden-mobile">{{ formatDateTimeReadable .CreatedAt }}</td>
            </tr>
        {{ end }}
    </table>
{{ else }}
    <div class="content">
        <p>No audit logs yet.</p>
    </div>
{{ end }}
