<div class="content">
    <p>
        Some wireless network repeaters rewrite ARP responses with their own MAC address, which has
        the effect of making every device behind it look the same. The only way to track these
        devices is to change the ARP packets back to how they should be before handling them.
        This requires static DHCP allocations for the affected devices so that it's possible to
        know which MAC address the ARP response was meant to come from.
    </p>
    <p>
        Enter a list of MAC addresses of the source device (the repeater) and add some mappings in
        the table below. When an ARP response for one of the IPs arrives, the source MAC address will be
        rewritten to the one associated with the IP.
    </p>
</div>

<div class="block">
    <form method="post" action="/admin/mappings">
        <div class="field is-horizontal" x-data="id">
            <div class="field-label is-normal">
                <label class="label" :for="id">Sources</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input is-family-monospace"
                               :id="id"
                               type="text"
                               placeholder="AA:BB:CC:DD:EE:FF, FF:EE:DD:CC:BB:AA"
                               name="{{ .source.fields.MACAddresses.Name }}"
                               value="{{ if .source.err }}{{ .source.fields.MACAddresses.Value }}{{ else }}{{ .source.values.MACAddresses }}{{ end }}">
                        {{ if .source.fields.MACAddresses.Error }}<p class="help is-danger">{{ .source.fields.MACAddresses.Error }}</p>{{ end }}
                        <p class="help">Comma-separated list of MAC addresses. Leave blank to disable this feature.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal" x-data="id">
            <div class="field-label is-normal"></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <button type="submit" class="button is-link">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<hr>

<div class="block">
    <form method="post" action="/admin/mappings/add">
        <div class="field is-horizontal" x-data="id">
            <div class="field-label is-normal">
                <label class="label" :for="id">Mapping</label>
            </div>
            <div class="field-body">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input"
                               :id="id"
                               type="text"
                               placeholder="camera"
                               name="{{ .mapping.fields.Label.Name }}"
                               value="{{ if .mapping.err }}{{ .mapping.fields.Label.Value }}{{ end }}">
                        {{ if .mapping.fields.Label.Error }}<p class="help is-danger">{{ .mapping.fields.Label.Error }}</p>{{ end }}
                    </div>

                    <div class="control">
                        <input class="input is-family-monospace"
                               type="text"
                               placeholder="AA:BB:CC:DD:EE:FF"
                               name="{{ .mapping.fields.MACAddress.Name }}"
                               value="{{ if .mapping.err }}{{ .mapping.fields.MACAddress.Value }}{{ end }}">
                        {{ if .mapping.fields.MACAddress.Error }}<p class="help is-danger">{{ .mapping.fields.MACAddress.Error }}</p>{{ end }}
                    </div>

                    <div class="control">
                        <input class="input is-family-monospace"
                               type="text"
                               placeholder="192.168.1.5"
                               name="{{ .mapping.fields.IPAddress.Name }}"
                               value="{{ if .mapping.err }}{{ .mapping.fields.IPAddress.Value }}{{ end }}">
                        {{ if .mapping.fields.IPAddress.Error }}<p class="help is-danger">{{ .mapping.fields.IPAddress.Error }}</p>{{ end }}
                    </div>

                    <div class="control">
                        <button type="submit" class="button is-link">
                            <span class="icon is-small">
                                <i class="fa-solid fa-add"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{{ if .mapping.values }}
    <div class="block">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
            </div>
            <div class="field-body">
                    <table class="table">
                        <tr>
                            <th>Label</th>
                            <th>MAC Address</th>
                            <th>IP Address</th>
                            <th></th>
                        </tr>

                        {{ range .mapping.values }}
                            <tr>
                                <td>{{ .Label }}</td>
                                <td class="mono">{{ .MACAddress }}</td>
                                <td>{{ .IPAddress }}</td>
                                <td class="min-column">
                                    <div class="columns is-variable is-1 is-mobile">
                                        <form class="column" action="/admin/mappings/{{ .ID }}/delete" method="post">
                                            <a title="Delete" onclick="confirm('Are you sure you want to delete this mapping?') && parentNode.submit()" class="has-text-dark">
                                                <span class="icon has-text-danger-dark">
                                                    <i class="fa-duotone fa-trash"></i>
                                                </span>
                                            </a>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        {{ end }}
                    </table>
                </div>
            </div>
        </div>
    </div>
{{ end }}
