<div class="field is-horizontal">
    <div class="field-label">
        <label class="label">Enable</label>
    </div>
    <div class="field-body">
        <div class="field">
             <div class="control">
                <label class="checkbox">
                    <input type="checkbox"
                           name="{{ .fields.EnableNotifications.Name }}"
                           {{ if .err }}{{ if eq .fields.EnableNotifications.Value "1" }}checked{{ end }}
                           {{ else if .settings.EnableNotifications }}checked{{ end }}>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">From Header</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input"
                       type="text"
                       name="{{ .fields.NotificationFromHeader.Name }}"
                       value="{{ if .err }}{{ .fields.NotificationFromHeader.Value }}{{ else }}{{ .settings.NotificationFromHeader }}{{ end }}">
            </div>
            {{ if .fields.NotificationFromHeader.Error }}<p class="help is-danger">{{ .fields.NotificationFromHeader.Error }}</p>{{ end }}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">From Address</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input"
                       type="text"
                       name="{{ .fields.NotificationFromAddress.Name }}"
                       value="{{ if .err }}{{ .fields.NotificationFromAddress.Value }}{{ else }}{{ .settings.NotificationFromAddress }}{{ end }}">
            </div>
            {{ if .fields.NotificationFromAddress.Error }}<p class="help is-danger">{{ .fields.NotificationFromAddress.Error }}</p>{{ end }}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">To Header</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input"
                       type="text"
                       name="{{ .fields.NotificationToHeader.Name }}"
                       value="{{ if .err }}{{ .fields.NotificationToHeader.Value }}{{ else }}{{ .settings.NotificationToHeader }}{{ end }}">
            </div>
            {{ if .fields.NotificationToHeader.Error }}<p class="help is-danger">{{ .fields.NotificationToHeader.Error }}</p>{{ end }}
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">To Address</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input"
                       type="text"
                       name="{{ .fields.NotificationToAddress.Name }}"
                       value="{{ if .err }}{{ .fields.NotificationToAddress.Value }}{{ else }}{{ .settings.NotificationToAddress }}{{ end }}">
            </div>
            {{ if .fields.NotificationToAddress.Error }}<p class="help is-danger">{{ .fields.NotificationToAddress.Error }}</p>{{ end }}
        </div>
    </div>
</div>
