<form method="post" action="/admin/settings">
    <div class="block">
        <h2 class="subtitle">General</h2>
        {{ template "admin/p/settings/general" . }}
    </div>

    <div class="block">
        <h2 class="subtitle">Notifications</h2>
        {{ template "admin/p/settings/notifications" . }}
    </div>

    <div class="block">
        <h2 class="subtitle">SMTP</h2>
        {{ template "admin/p/settings/smtp" . }}
    </div>

    <div class="block">
        <h2 class="subtitle">System</h2>
        {{ template "admin/p/settings/system" . }}
    </div>

    <div class="field is-horizontal is-grouped">
        <div class="field-label"></div>
        <div class="field-body">
            <div class="control">
                <button type="submit" class="button is-link">Save</button>
            </div>
        </div>
    </div>
</form>
