{{/*
    Render a list of activity logs, possibly for a single device.

    Context:
        .activity    []m.DeviceStateLog
        .device      m.Device
*/}}

{{ if .activity }}
    <table class="table is-fullwidth">
        <tr>
            <th>State</th>
            <th>Since</th>
            <th class="is-hidden-mobile">Date</th>
        </tr>

        {{ range .activity }}
            <tr>
                <td>{{ template "devices/p/state" .State }}</td>
                <td>{{ template "p/time/rel" .CreatedAt }}</td>
                <td class="is-hidden-mobile">{{ formatDateTimeReadable .CreatedAt }}</td>
            </tr>
        {{ end }}
    </table>
{{ else }}
    {{ template "activity/p/no-activity" .device }}
{{ end }}
