{{/*
    Render a device's table of details.

    Context:
        .    m.Device
*/}}

<table class="table is-fullwidth">
    <tr>
        <th>State</th>
        <td>{{ template "devices/p/state" .State }}</td>
    </tr>

    <tr>
        <th>Hostname</th>
        <td>
            {{ template "p/name/hostname" .Hostname }}
            {{ if .HostnameAnnouncedAt.Valid }}
                <div class="icon is-pulled-right hint--bottom-left hint--rounded" aria-label="Broadcast {{ timeAgoLong .HostnameAnnouncedAt }}">
                    <i class="fa-duotone fa-clock"></i>
                </div>
            {{ end }}
        </td>
    </tr>

    <tr>
        <th>Discovered</th>
        <td>{{ template "p/time/rel" .CreatedAt }}</td>
    </tr>

    <tr>
        <th>Last Seen</th>
        <td>{{ template "p/time/rel" .LastSeenAt }}</td>
    </tr>

    <tr>
        <th>Grace Period</th>
        <td>{{ .GracePeriod }} mins</td>
    </tr>

    <tr>
        <th>Limit</th>
        <td>
            {{ if eq .Limit 0 }}
                None
            {{ else }}
                {{ .Limit }} mins
            {{ end }}
        </td>
    </tr>

    <tr>
        <th>Watching</th>
        <td>{{ template "p/state/bool" .Watch }}</td>
    </tr>

    {{ if .Notes }}
        <tr>
            <th>Notes</th>
            <td class="content">{{ renderMarkdown .Notes }}</td>
        </tr>
    {{ end }}
</table>
