{{/*
    Render a device's table of details.

    Context:
        .    m.Device
*/}}

<table class="table is-fullwidth">
    <tr>
        <th>State</th>
        <td>{{ template "devices/p/state" .State }}</td>
    </tr>

    <tr>
        <th>Hostname</th>
        <td>{{ template "p/name/hostname" .Hostname }}</td>
    </tr>

    <tr>
        <th>Discovered</th>
        <td>{{ template "p/time/rel" .CreatedAt }}</td>
    </tr>

    <tr>
        <th>Last Seen</th>
        <td>{{ template "p/time/rel" .LastSeen }}</td>
    </tr>

    <tr>
        <th>Grace Period</th>
        <td>{{ .GracePeriod }} mins</td>
    </tr>

    <tr>
        <th>Watching</th>
        <td>
            {{ if .Watch }}
                <span class="icon is-small state--checked"><i class="fa-solid fa-check"></i></span>
            {{ else }}
                <span class="icon is-small"><i class="fa-solid fa-times"></i></span>
            {{ end }}
        </td>
    </tr>

    {{ if .Notes }}
        <tr>
            <th>Notes</th>
            <td class="content">{{ renderMarkdown .Notes }}</td>
        </tr>
    {{ end }}
</table>
