{{/*
    Render a device's header.

    Context:
        .device     m.Device
        .devices    []m.Device
        .mode       string
*/}}

<div class="level">
    <div class="level-left">
        <div class="level-item">
            <span class="icon is-medium mr-2 ml-1">
                {{ if eq .device.State "online" }}
                    <i class="fa-2x {{ .device.Icon }} state--online"></i>
                {{ else }}
                    <i class="fa-2x {{ .device.Icon }} state--offline"></i>
                {{ end }}
            </span>
        </div>
        <div class="level-item">
            <h1 class="title is-size-4">
                {{ template "p/name/device" .device.Name }}
            </h1>
        </div>
    </div>

    <div class="level-right">
        <div class="level-item">
            {{ if and (eq .mode "view") (.globals.User.Admin) }}
                <div class="dropdown is-right">
                    <div class="js-dropdown-trigger dropdown-trigger">
                        <button class="button">
                            <span class="icon is-small"><i class="fa-solid fa-bars"></i></span>
                        </button>
                    </div>
                    <div class="dropdown-menu">
                        <div class="dropdown-content">
                            <a href="/device/{{ .device.ID }}/edit" class="dropdown-item">
                                <span class="icon is-small">
                                    <i class="fa-duotone fa-edit"></i>
                                </span>
                                <span>Edit</span>
                            </a>

                            <a class="dropdown-item js-modal-trigger" data-target="#js-merge-modal">
                                <span class="icon is-small">
                                    <i class="fa-duotone fa-merge"></i>
                                </span>
                                <span>Merge...</span>
                            </a>

                            <hr class="dropdown-divider">

                            <a class="dropdown-item has-text-danger-dark js-form-trigger" data-target="#js-delete-form">
                                <form class="is-hidden"
                                      id="js-delete-form"
                                      method="post"
                                      onsubmit="return confirm('Are you sure you want to delete this device?')"
                                      action="/device/{{ .device.ID }}/delete">
                                </form>
                                <span class="icon is-small">
                                    <i class="fa-duotone fa-trash"></i>
                                </span>
                                <span>Delete</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="modal" id="js-merge-modal">
                    <div class="modal-background"></div>
                    <div class="modal-content">
                        <div class="box">
                            <form method="post" onsubmit="return confirm('Are you sure you want to merge these devices?')" action="/device/{{ .device.ID }}/merge">
                                <h2 class="subtitle has-text-centered mb-5">Merge</h2>

                                <div class="field is-horizontal">
                                    <div class="field-label is-normal">
                                        <label class="label">Device</label>
                                    </div>
                                    <div class="field-body">
                                        <div class="field is-grouped">
                                            <div class="control is-expanded">
                                                <div class="select is-fullwidth">
                                                    <select name="device_id" required>
                                                        {{ range .devices }}
                                                            {{ if ne .ID $.device.ID }}
                                                                <option value="{{ .ID }}">{{ template "p/name/device" .Name }}</option>
                                                            {{ end }}
                                                        {{ end }}
                                                    </select>
                                                </div>
                                                <p class="help">The device that was discovered first will be the one that the other device is merged into.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="level">
                                    <div class="level-left"></div>
                                    <div class="level-right">
                                        <div class="level-item">
                                            <button class="button is-link" type="submit">
                                                <div class="icon is-left">
                                                    <i class="fa-duotone fa-merge"></i>
                                                </div>
                                                <span>Merge</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <button class="modal-close is-large" aria-label="close"></button>
                </div>
            {{ end }}

            {{ if eq .mode "edit" }}
                <nav class="breadcrumb has-arrow-separator is-small">
                    <ul>
                        <li><a href="/">devices</a></li>
                        <li><a href="/device/{{ .device.ID }}">{{ template "p/name/device" .device.Name }}</a></li>
                    </ul>
                </nav>
            {{ end }}
        </div>
    </div>
</div>

