/* TODO: Build bulma from SCSS and move some of these to variables. */

.section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

th {
    white-space: nowrap;
}

code {
    color: #363636;
}

.is-family-monospace {
    font-size: 0.9em;
}

.notification {
    margin-top: 1rem;
}

.min-column {
    width: 0;
    white-space: nowrap;
}

.is-strikethrough {
    text-decoration: line-through;
}

.pre {
    white-space: pre;
}

.navbar > .container .navbar-menu {
    margin-right: 0;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.icon--focus {
    color: #4a4a4a !important;
}
