/* TODO: Build bulma from SCSS and move some of these to variables. */

code {
    color: #363636;
}

.is-family-monospace {
    font-size: 0.9em;
}

.icon--online {
    color: green;
}

.icon--offline {
    color: grey;
}

th {
    white-space: nowrap;
}

nav {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1.5rem;
}
