<h2 class="subtitle">Adapters</h2>

<table class="table is-fullwidth">
    <tr>
        <th>Name</th>
        <th class="is-hidden-mobile">MAC Address</th>
        <th>IP Address</th>
        <th class="is-hidden-mobile">Vendor</th>
        <th>Last Seen</th>
        <th></th>
    </tr>

    {{ range . }}
        <tr>
            <td>{{ template "partials/adapter-name" .Name }}</td>
            <td class="is-hidden-mobile">
                <span class="is-family-monospace">{{ .MACAddress }}</span>
            </td>
            <td>{{ .IPAddress }}</td>
            <td class="is-hidden-mobile">{{ template "partials/vendor-name" .Vendor }}</td>
            <td title="{{ escape (formatDateTime .LastSeen) }}">
                {{ timeAgoVerbose .LastSeen }}
            </td>
            <td class="min-column">
                <div class="columns is-variable is-1 is-mobile">
                    <a title="Edit" href="/adapter/{{ .ID }}/edit" class="column has-text-dark">
                        <span class="icon">
                            <i class="fa-duotone fa-edit"></i>
                        </span>
                    </a>
                    <form class="column" action="/adapter/{{ .ID }}/delete" method="post">
                        <a title="Delete" onclick="confirm('Are you sure?') && parentNode.submit()" class="has-text-dark">
                            <span class="icon has-text-danger-dark">
                                <i class="fa-duotone fa-trash"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </td>
        </tr>
    {{ else }}
        <tr>
            <td colspan="6"><i>No adapters found</i></td>
        </tr>
    {{ end }}
</table>
