package migrations

import (
	"errors"

	"crdx.org/db"
	"gorm.io/gorm"
)

func {{ . }}(id string) *db.Migration {
	return &db.Migration{
		ID: id,
		Type: db.MigrationTypePre,
		// Type: db.MigrationTypePost,
		// Type: db.MigrationTypeSchema,
		Run: func(db *gorm.DB) error {
			return db.Transaction(func(db *gorm.DB) error {
				return errors.Join(
					db.Exec(``).Error,
				)
			})
		},
	}
}
